

.gradient {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 18.5%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  margin-bottom: 30px;
}

svg {
  width: 200px;
  height: 200px;
}

.content {
  margin-top: 30px;
}

#dot {
  animation: blink 350ms ease-in-out 8 alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

