body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; }

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem; }
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }
  header.masthead h1 {
    font-size: 2rem; }
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem; }
      header.masthead h1 {
        font-size: 3rem; } }
  header.masthead .btn-block {
    display: block;
    width: 12rem; }

.showcase .showcase-text {
  padding: 3rem; }
.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover; }
@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem; } }

.features-icons {
  padding-top: 4rem;
  padding-bottom: 7rem; }
  .features-icons .features-icons-item {
    max-width: 20rem; }
    .features-icons .features-icons-item .features-icons-icon {
      height: 7rem; }
      .features-icons .features-icons-item .features-icons-icon i {
        font-size: 4.5rem; }
    .features-icons .features-icons-item:hover .features-icons-icon i {
      font-size: 5rem; }
  .features-icons h2 {
    margin-bottom: 4rem; }
  .features-icons h4 {
    margin-top: 4rem;
    font-weight: bold; }

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .testimonials .testimonial-item {
    max-width: 30rem; }
    .testimonials .testimonial-item img {
      max-width: 12rem;
      box-shadow: 0 5px 5px 0 #adb5bd; }
  .testimonials .about {
    margin-bottom: 8rem; }
    .testimonials .about h2 {
      margin-bottom: 5rem;
      font-size: 3rem; }
    .testimonials .about img {
      margin-bottom: 5rem; }

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.navbar-brand img {
  width: 10rem; }

.question {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .question .answer {
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold; }
  .question button {
    height: 8rem;
    width: 15rem;
    border: 3px solid;
    border-radius: 27px;
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 15px; }

.tariff {
  padding-top: 6rem;
  padding-bottom: 20rem; }
  .tariff h2 {
    margin-bottom: 50px; }

.tariffCards {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 6rem;
  user-select: none;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d; }

.tariffCards > div {
  position: relative;
  width: 358px;
  height: 185px;
  border-radius: 12px;
  color: #fff;
  transform: rotateX(18deg) rotateY(5deg) rotate(40deg);
  transition: all 0.4s ease;
  overflow: hidden;
  cursor: pointer; }

.tariffCards > div:after {
  position: absolute;
  top: -70px;
  left: 0;
  content: '';
  width: 200%;
  height: 200%;
  background-image: linear-gradient(60deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 80%);
  transform: translateX(-100%); }

.tariffCards > div img {
  margin-top: 15px;
  pointer-events: none; }

.tariffCards > div h3 {
  position: absolute;
  top: 82px;
  left: 126px;
  font-size: 20px;
  font-weight: 800; }

.tariffCards > div span {
  position: absolute;
  font-weight: 700;
  bottom: 15px;
  left: 15px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.8; }

.tariffCards > div.economy {
  margin-top: 0;
  z-index: 5;
  background-color: #8063e1;
  background-image: linear-gradient(135deg, #bd7be8, #8063e1);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0 1px #8063e1; }

.tariffCards > div.premiumeconomy {
  margin-left: -150px;
  z-index: 4;
  background-color: #3f58e3;
  background-image: linear-gradient(135deg, #7f94fc, #3f58e3);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0 1px #3f58e3; }

.tariffCards > div.business {
  margin-left: -150px;
  z-index: 3;
  background-color: #2c6fd1;
  background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0 1px #2c6fd1; }

.tariffCards > div.first {
  margin-left: -150px;
  z-index: 2;
  background-color: #352f64;
  background-image: linear-gradient(135deg, #415197, #352f64);
  box-shadow: 5px 5px 60px rgba(34, 50, 84, 0.1), 1px 1px 0 1px #352f64; }

.tariffCards > div.vip {
  margin-left: -150px;
  z-index: 1;
  background-color: #c13584;
  background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0 1px #2c6fd1; }

.tariffCards > div:hover {
  transform: rotateX(24deg) rotateY(6deg) rotate(4deg) translate(-25px, 52px); }

.tariffCards > div:hover:after {
  transform: translateX(100%);
  transition: all 1.2s ease-in-out; }

.comments {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .comments .row {
    height: 500px;
    background-color: grey; }

@media (max-width: 768px) {
  .tariff {
    height: 1000px; }
    .tariff h2 {
      margin-bottom: .5rem; }

  .tariffCards {
    display: block; }

  .tariffCards > div {
    position: relative;
    width: 358px;
    height: 185px;
    border-radius: 12px;
    color: #fff;
    transform: rotateX(45deg) rotateY(-15deg) rotate(45deg);
    transition: all 0.4s ease;
    overflow: hidden;
    cursor: pointer; }

  .tariffCards > div:after {
    position: absolute;
    top: -70px;
    left: 0;
    content: '';
    width: 200%;
    height: 200%;
    background-image: linear-gradient(60deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0) 80%);
    transform: translateX(-100%); }

  .tariffCards > div img {
    margin-top: 15px;
    pointer-events: none; }

  .tariffCards > div h3 {
    position: absolute;
    top: 82px;
    left: 126px;
    font-size: 20px;
    font-weight: 800; }

  .tariffCards > div span {
    position: absolute;
    font-weight: 700;
    bottom: 15px;
    left: 15px;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8; }

  .tariffCards > div.economy {
    margin-top: 0;
    margin-left: 60px;
    z-index: 3;
    background-color: #8063e1;
    background-image: linear-gradient(135deg, #bd7be8, #8063e1);
    box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0 1px #8063e1; }

  .tariffCards > div.premiumeconomy {
    margin-top: -70px;
    margin-left: 60px;
    z-index: 2;
    background-color: #3f58e3;
    background-image: linear-gradient(135deg, #7f94fc, #3f58e3);
    box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0 1px #3f58e3; }

  .tariffCards > div.business {
    margin-top: -70px;
    margin-left: 60px;
    z-index: 1;
    background-color: #2c6fd1;
    background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
    box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0 1px #2c6fd1; }

  .tariffCards > div.first {
    margin-top: -70px;
    margin-left: 60px;
    background-color: #352f64;
    background-image: linear-gradient(135deg, #415197, #352f64);
    box-shadow: 5px 5px 60px rgba(34, 50, 84, 0.1), 1px 1px 0 1px #352f64; }

  .tariffCards > div.vip {
    margin-top: -70px;
    margin-left: 60px;
    z-index: 1;
    background-color: #c13584;
    background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0 1px #2c6fd1; }

  .tariffCards > div:hover {
    transform: rotateX(30deg) rotateY(-15deg) rotate(30deg) translate(-25px, 50px); }

  .tariffCards > div:hover:after {
    transform: translateX(100%);
    transition: all 1.2s ease-in-out; } }
