

.slider {
  width: 80vw;
  overflow: hidden;
  margin: auto;
}

.slides {
  display: flex;
  overflow-x: auto;
  
  border-radius: 5px;
  
  scroll-behavior: smooth;
  
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-points-x: repeat(300px);
      -ms-scroll-snap-points-x: repeat(300px);
          scroll-snap-points-x: repeat(300px);
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  flex-shrink: 0;
  width: 80vw;
  height: 70vh;
  border-radius: 10px;
  background: #eee;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.slides > div:target {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.slides img {
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  height: 60vh;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports ((-webkit-scroll-snap-type: ) or (-ms-scroll-snap-type: ) or (scroll-snap-type: )) {
  .slider > a {
    display: none;
  }
}
