/*
essential styles:
these make the slideshow work
*/
#slider {
 height: 900px;
 background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

#slides{
	position: relative;
	height: 600px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}


.controls{
	display: none;
}


/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide{
	font-size: 22px;
	padding: 100px 40px;
	box-sizing: border-box;
	background: #fff;
	color: black;
	border-radius: 5px;
  
  background-size: cover;
}

.slide img {
	width: 250px;
	border: 1px solid #000;
}

@media screen and (max-width: 996px) {
	.slide img {
		width: 190px;
		border: 1px solid #000;
	}	
}
@media screen and (max-width: 768px) {
	#slider {
 		height: 930px;
	}
	#slides {
		height: 720px;	
		text-align: center;		
	}	
	.slide {
		font-size: 1em;
	}
	.slide p {
		font-size: 1.2em;
	}
	.slide img {
		width: 210px;
	}
}

.controls{
  background: #333;
  color: #fff;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 10px 0px 0px 10px;
  width: 70px;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
}

.container{
  position: relative;
}

.buttons{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  font-size: 0px;
}