@font-face{
	font-family: 'Gilroy Bold';
	src: url('../css/fonts/gilroy.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy Light';
	src: url('../css/fonts/Gilroy-Light.eot');
	src: url('../css/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
	url('../css/fonts/Gilroy-Light.woff') format('woff'),
	url('../css/fonts/Gilroy-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*, body, html, p {
	font-family: 'Gilroy Light';
}
h1, h2, h3, button, .btn {
	font-family: 'Gilroy Bold';
}
header {
	z-index: -1;
}
.bg-light {
    background-color: #abd2f924!important;
}
.textinhat {
	font-family: 'Gilroy Bold';
	font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}
.telinhat {
	font-size: 1.5rem;
}
.question h2 {
	border: 2px solid;
    border-radius: 50px;
    padding: 19px;
    max-width: 706px;
    margin: -150px auto 5px;
    z-index: 999;
    background: #fff;
}
.strelr {
	position: absolute;
    top: -59px;
    right: 61px;
}
.strell {
	position: absolute;
    top: -58px;
    left: 58px;
}

.question button {
    background: #007bff;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #676767;
    border: 2px solid #3e3e3e;
}
.question button:hover {
    background: #046ee0;
    box-shadow: 2px 2px 6px 0px #676767;
    border: 1px solid #3e3e3e;
    margin-top: 14px;
    margin-left: -2px;
}
.question button:active {
	background: #005abb;
    color: #fff;
    box-shadow: 1px 1px 2px 1px #676767;
    border: 1px solid #3E3E3D;
}
.logowho {
	max-width: 300px;
}
#slider_dva {
	min-height: 750px;
}
/* .tariffCards {
	left: 0px;
} */
.comments .row {
    background: unset;
}
.bg-inst {
    background-image: linear-gradient(0deg, red 0%, blue 100%);
}
.comments .overlay {
    position: absolute;
    background-color: #212529;
    height: 170%;
    width: 100%;
    margin-top: -112px;
    opacity: 0.2;
}
.call-to-action2 .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
}
.call-to-action2 {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 7rem;
    background: linear-gradient(0deg, blue 0%, red 100%);
}
<<<<<<< HEAD
.bg-inst2 {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
=======
>>>>>>> upstream/master
