@font-face{
	font-family: 'Gilroy Bold';
	src: url('../css/fonts/gilroy.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy Light';
	src: url('../css/fonts/Gilroy-Light.eot');
	src: url('../css/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
	url('../css/fonts/Gilroy-Light.woff') format('woff'),
	url('../css/fonts/Gilroy-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*, body, html, p {
	font-family: 'Gilroy Light';
}
h1, h2, h3, button, .btn {
	font-family: 'Gilroy Bold';
}
header {
	z-index: -1;
}
.bg-light {
    background-color: #abd2f924!important;
}
.bg-op {
    background-color: #1f000991;
    border-radius: 5px;
}
.textinhat {
	font-family: 'Gilroy Bold';
	font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}
.telinhat {
	font-size: 1.5rem;
}
.menu {
    font-size: 1.5rem;
    border-bottom: 0.1px solid #bbb;
    background: #fffffff2;
}
.question h2 {
	border: 2px solid;
    border-radius: 50px;
    padding: 19px;
    max-width: 706px;
    margin: -150px auto 5px;
    z-index: 999;
    background: #fff;
}
.arrowl {
    display: none;
	position: absolute;
    top: -53px;
    right: 72px;
    width: 156px;
}
.arrowr {
    display: none;
	position: absolute;
    top: -53px;
    left: 72px;
    width: 156px;
}

.question button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;  
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
.question button:hover {
    background: #046ee0;
    margin-top: 14px;
    margin-left: -2px;
}
.question button:active {
	background: #005abb;
    border: 1px solid #3E3E3D;
}
.logowho {
	max-width: 300px;
}
#slider_dva {
	min-height: 750px;
}
/* .tariffCards {
	left: 0px;
} */
.comments .row {
    background: unset;
}
.bg-inst {
    background-image: linear-gradient(0deg, #ff0000d4 0%, #0000ffcc 100%);
}
.comments .overlay {
    position: absolute;
    background-color: #212529;
    height: 170%;
    width: 100%;
    margin-top: -112px;
    opacity: 0.2;
}
.call-to-action2 .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
}
.call-to-action2 {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 7rem;
    
}

.barhat {
    min-height: 100vh;
    background-image: url(../img/bg/red1.jpg);    
    background-size: cover;

}

.barhat hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 300px;
    float: left;
    border-top: 5px solid #000;
}
.btn-red {
    color: #fff;
    background-color: #000;
    border-color: #5c0b0d;
}
.btn-red:hover {
    color: #fff;
    background-color: #555;
    border-color: #5c0b0d;
}
.btn-red:active {
    color: #fff;
    background-color: #000;
    border-color: #5c0b0d;
}
.barhat img {
    max-width: 350px;
    float: right;
}
.barhat input {
    background: #ece0e0f2;
}
#sidebarCollapse {
    position: fixed;
    z-index: 99;
    top: 10px;
}