.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .testimonial-item {
        max-width: 30rem;

        img {
            max-width: 12rem;
            box-shadow: 0 5px 5px 0 $gray-500;
        }
    }

    .about {
        margin-bottom: 8rem;

        h2 {
            margin-bottom: 5rem;
            font-size: 3rem;
        }

        img {
            margin-bottom: 5rem;
        }
    }
}
