.question {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .answer {
        margin-top: 30px;
        font-size: 40px;
        font-weight: bold;
    }

    button {
        height: 8rem;
        width: 15rem;
        border: 3px solid;
        border-radius: 27px;
        font-size: 19px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
