.tariff {
    height: 1000px;

    h2 {
        margin-bottom: .5rem;
    }
}

.tariffCards {
    display: block;
}


.tariffCards > div {
    position: relative;
    width: 358px;
    height: 185px;
    border-radius: 12px;
    color: #fff;
    transform: rotateX(45deg) rotateY(-15deg) rotate(45deg);
    transition: all 0.4s ease;
    overflow: hidden;
    cursor: pointer;
}

.tariffCards > div:after {
    position: absolute;
    top: -70px;
    left: 0;
    content: '';
    width: 200%;
    height: 200%;
    background-image: linear-gradient(60deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0.1), rgba(255,255,255,0) 80%);
    transform: translateX(-100%);
}

.tariffCards > div img {
    margin-top: 15px;
    pointer-events: none;
}

.tariffCards > div h3 {
    position: absolute;
    top: 82px;
    left: 126px;
    font-size: 20px;
    font-weight: 800;
}

.tariffCards > div span {
    position: absolute;
    font-weight: 700;
    bottom: 15px;
    left: 15px;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.8;
}

.tariffCards > div.economy {
    margin-top: 0;
    margin-left: 60px;
    z-index: 3;
    background-color: #8063e1;
    background-image: linear-gradient(135deg, #bd7be8, #8063e1);
    box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0 1px #8063e1;
}

.tariffCards > div.premiumeconomy {
    margin-top: -70px;
    margin-left: 60px;
    z-index: 2;
    background-color: #3f58e3;
    background-image: linear-gradient(135deg, #7f94fc, #3f58e3);
    box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0 1px #3f58e3;
}

.tariffCards > div.business {
    margin-top: -70px;
    margin-left: 60px;
    z-index: 1;
    background-color: #2c6fd1;
    background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
    box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0 1px #2c6fd1;
}

.tariffCards > div.first {
    margin-top: -70px;
    margin-left: 60px;
    background-color: #352f64;
    background-image: linear-gradient(135deg, #415197, #352f64);
    box-shadow: 5px 5px 60px rgba(34,50,84,0.1), 1px 1px 0 1px #352f64;
}

.tariffCards > div.vip {
    margin-top: -70px;
    margin-left: 60px;
    z-index: 1;
    background-color: #c13584;
    background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0 1px #2c6fd1;
}

.tariffCards > div:hover {
    transform: rotateX(30deg) rotateY(-15deg) rotate(30deg) translate(-25px, 50px);
}

.tariffCards > div:hover:after {
    transform: translateX(100%);
    transition: all 1.2s ease-in-out;
}
